/* CSS Reset  */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p, h1 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End */

:root {
  --white: hsl(0, 0%, 100%);

  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url('./images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--pale-blue);
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.5rem;
  overflow: hidden;
  max-width: 25rem;
  border-radius: 20px;
  font-size: 1rem;
}

.content {
  padding: 2rem 1.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  color: var(--dark-blue);
  font-size: 1.4375rem; /* 23px */
  font-weight: 900;
}

p {
  color: var(--desaturated-blue);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
}

.plan {
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
  border-radius: 10px;
  padding: 1.125rem;
  align-items: center;
}

.plan-text {
  text-align: left;
}

h2 {
  color: var(--dark-blue);
  font-size: 1rem; /* 16px */
  font-weight: 900;
}

.plan > a {
  font-weight: 700;
  font-size: 0.9375rem;
  color: var(--bright-blue);
  margin-left: auto;
}

.button-text {
  font-weight: 900;
  display: block;
  text-decoration: none;
}

.payment {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bright-blue);
  color: var(--white);
}

.cancel {
  color: var(--desaturated-blue);
}

@media only screen and (min-width: 80rem) {
  body {
    background-image: url('./images/pattern-background-desktop.svg');
  }

  .card {
    max-width: 27rem;
  }

  .content {
    padding: 3rem 2.75rem;
  }

  h1 {
    font-size: 1.7rem; /* 24px */
  }

  p {
    line-height: 1.5rem;
  }

  .plan {
    padding: 1.25rem;
    margin-bottom: 1rem;
  }

  .plan > a {
    font-size: 0.875rem;
  }

  h2 {
    font-size: 1rem;
  }

  .button-text {
    font-size: 0.875rem;
  }
}